/*
.partieBas{
    width: 100%;
    text-align: center;
    align-items: center ;
    display: flex;
   

}
.partieHaute{
    width: 100%;
    text-align: center;
    align-items: center ;
    display: flex;
    
}
.image{
    display: flex;
    flex-direction: row;
 	
	background-repeat: no-repeat;
	width: 1000px;
	height: 300px;
    justify-content: center;
    align-items: center;
		
}*/








